{% extends "base.html" %}

{% block content %}
    <h1>Add An Item</h1>
    <form action="" method="post" novalidate>
        <p>
            {{ form.store_name.label }}<br>
            {{ form.store_name(size=32) }}
        </p>
        <p>
            {{ form.item_name.label }}<br>
            {{ form.item_name(size=32) }}
        </p>
        <p>
            {{ form.item_dollar.label }}
            {{ form.item_dollar(size=16) }}
            {{ form.item_cent.label }}
            {{ form.item_cent(size=16) }}
        </p>
        <p>
            {{ form.item_description.label }}<br>
            {{ form.item_description(size=64) }}
        </p>
        <p>
            {{ form.barcode.label }}<br>
            {{ form.barcode(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}