{% extends "base.html" %}

{% block head %}
        <style type="text/css">
          #map{ width:700px; height: 500px; }
        </style>
    {% block scripts %}
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
        <script type="text/javascript" src="{{ url_for('.static', filename='map.js')}}"></script>
    {% endblock %}
{% endblock %}


{% block content %}
    <h1>Add An Item</h1>
        <p>
        <div id="map"></div>

        <h2>Chosen Location</h2>
        <form action="" method="post" novalidate>
            <input type="text" id="lat" readonly="yes"><br>
            <input type="text" id="lng" readonly="yes">
        </form>
        <script type="text/javascript" src="{{ url_for('.static', filename='map.js')}}"></script>


        </p>
        <p>
            {{ form.store_name.label }}<br>
            {{ form.store_name(size=32) }}
        </p>
        <p>
            {{ form.item_name.label }}<br>
            {{ form.item_name(size=32) }}
        </p>
        <p>
            {{ form.item_dollar.label }}
            {{ form.item_dollar(size=16) }}
            {{ form.item_cent.label }}
            {{ form.item_cent(size=16) }}
        </p>
        <p>
            {{ form.item_description.label }}<br>
            {{ form.item_description(size=64) }}
        </p>
        <p>
            {{ form.barcode.label }}<br>
            {{ form.barcode(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}