{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block head %}
        <style type="text/css">
          #map{ width:700px; height: 500px; }
                   #map{ width:700px; height: 500px; }
            body {font-family: Arial, Helvetica, sans-serif;}
            * {box-sizing: border-box;}

            input[type=text], select, textarea {
              width: 100%;
              padding: 12px;
              border: 1px solid #ccc;
              border-radius: 4px;
              box-sizing: border-box;
              margin-top: 6px;
              margin-bottom: 16px;
              margin-right: 100 px;
              resize: vertical;
            }

            input[type=submit] {
              background-color: #4CAF50;
              color: white;
              padding: 12px 20px;
              border: none;
              border-radius: 4px;
              cursor: pointer;
            }

            input[type=submit]:hover {
              background-color: #45a049;
            }

            .container {
              border-radius: 5px;
              background-color: #f2f2f2;
              padding: 20px;
              margin-right: 300px;
              margin-left: 250px;
            }
        </style>
    {% block scripts %}
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key="></script>
        <script type="text/javascript" src="{{ url_for('.static', filename='map.js')}}"></script>
    {% endblock %}
{% endblock %}


{% block app_content %}
    <div class="container">
    <h1>Add A Store</h1>

    <p>
        <div id="map"></div>
        <h2>Chosen Location</h2>
        <script type="text/javascript" src="{{ url_for('.static', filename='map.js')}}"></script>
    </p>

    <form action="" method="post" novalidate>
        {{ form.csrf_token }}
        <p>
            {{ form.store_lat }}<br>
            {{ form.store_lng }}
        </p>
        <p>
            {{ form.store_name.label }}<br>
            {{ form.store_name(size=32) }}
        </p>
        <p>
            {{ form.street_addr.label }}<br>
            {{ form.street_addr(size=32) }}
        </p>
        <p>
            {{ form.city_name.label }}<br>
            {{ form.city_name(size=32) }}
        </p>
        <p>
            {{ form.state_name.label }}<br>
            {{ form.state_name(size=8) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    </div>
{% endblock %}